<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>LISTADO DE PELÍCULAS</h1>
    <ul>
        <h1>LISTADO DE PELÍCULAS</h1>
<ul>
    <% for(let i = 0; i < movies.length; i++) { %>
        <li>
            <% if(movies[i].generos) { %>
                <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %> - <%= movies[i].generos.name %></a>
            <% } %>
            <% if(movies[i].actors && movies[i].actors.length > 0) { %>
                <ul>
                    <% for(let j = 0; j < movies[i].actors.length; j++) { %>
                        <li><%= movies[i].actors[j].first_name %> <%= movies[i].actors[j].last_name %></li>
                    <% } %>
                </ul>
            <% } else { %>
                <p>No hay actores asociados a esta película.</p>
            <% } %>
        </li>
    <% } %>
</ul>


    </ul>
</body>

</html>